.App {
}

.App-header {
  background-color: #76c043;
  padding: 2px 30px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0px 20px;
}

.add-todo-item {
  margin-top: 15px;
  padding: 10px 25px;
  position: relative;
}

.add-todo-item .field {
  
}

.add-todo-item .add-a-photo {
  color: #ccc;
  position: absolute !important;
  top: 10px;
  right: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
